# Dataset Information

In [75]:
import pandas as pd
import numpy as np

path = './Downloads/Uber_Data/ncr_ride_bookings.csv'
df = pd.read_csv(path)
print(df)
print(df["Booking Status"].unique())

              Date      Time    Booking ID   Booking Status   Customer ID  \
0       2024-03-23  12:29:38  "CNR5884300"  No Driver Found  "CID1982111"
1       2024-11-29  18:01:39  "CNR1326809"       Incomplete  "CID4604802"
2       2024-08-23  08:56:10  "CNR8494506"        Completed  "CID9202816"
3       2024-10-21  17:17:25  "CNR8906825"        Completed  "CID2610914"
4       2024-09-16  22:08:00  "CNR1950162"        Completed  "CID9933542"
...            ...       ...           ...              ...           ...
149995  2024-11-11  19:34:01  "CNR6500631"        Completed  "CID4337371"
149996  2024-11-24  15:55:09  "CNR2468611"        Completed  "CID2325623"
149997  2024-09-18  10:55:15  "CNR6358306"        Completed  "CID9925486"
149998  2024-10-05  07:53:34  "CNR3030099"        Completed  "CID9415487"
149999  2024-03-10  15:38:03  "CNR3447390"        Completed  "CID4108667"

         Vehicle Type         Pickup Location      Drop Location  Avg VTAT  \
0               eBike             Palam Vihar            Jhilmil       NaN
1            Go Sedan           Shastri Nagar  Gurgaon Sector 56       4.9
2                Auto                 Khandsa      Malviya Nagar      13.4
3       Premier Sedan     Central Secretariat           Inderlok      13.1
4                Bike        Ghitorni Village        Khan Market       5.3
...               ...                     ...                ...       ...
149995        Go Mini                 MG Road           Ghitorni      10.2
149996        Go Mini        Golf Course Road         Akshardham       5.1
149997       Go Sedan  Satguru Ram Singh Marg           Jor Bagh       2.7
149998           Auto               Ghaziabad         Saidulajab       6.9
149999  Premier Sedan         Ashok Park Main  Gurgaon Sector 29       3.5

        Avg CTAT  ...  Reason for cancelling by Customer  \
0            NaN  ...                                NaN
1           14.0  ...                                NaN
2           25.8  ...                                NaN
3           28.5  ...                                NaN
4           19.6  ...                                NaN
...          ...  ...                                ...
149995      44.4  ...                                NaN
149996      30.8  ...                                NaN
149997      23.4  ...                                NaN
149998      39.6  ...                                NaN
149999      33.7  ...                                NaN

       Cancelled Rides by Driver  Driver Cancellation Reason Incomplete Rides  \
0                            NaN                         NaN              NaN
1                            NaN                         NaN              1.0
2                            NaN                         NaN              NaN
3                            NaN                         NaN              NaN
4                            NaN                         NaN              NaN
...                          ...                         ...              ...
149995                       NaN                         NaN              NaN
149996                       NaN                         NaN              NaN
149997                       NaN                         NaN              NaN
149998                       NaN                         NaN              NaN
149999                       NaN                         NaN              NaN

        Incomplete Rides Reason Booking Value  Ride Distance  Driver Ratings  \
0                           NaN           NaN            NaN             NaN
1             Vehicle Breakdown         237.0           5.73             NaN
2                           NaN         627.0          13.58             4.9
3                           NaN         416.0          34.02             4.6
4                           NaN         737.0          48.21             4.1
...                         ...           ...            ...             ...
149995                      NaN         475.0          40.08             3.7
149996                      NaN        1093.0          21.31             4.8
149997                      NaN         852.0          15.93             3.9
149998                      NaN         333.0          45.54             4.1
149999                      NaN         806.0          21.19             4.6

        Customer Rating  Payment Method
0                   NaN             NaN
1                   NaN             UPI
2                   4.9      Debit Card
3                   5.0             UPI
4                   4.3             UPI
...                 ...             ...
149995              4.1     Uber Wallet
149996              5.0             UPI
149997              4.4            Cash
149998              3.7             UPI
149999              4.9     Credit Card

[150000 rows x 21 columns]
['No Driver Found' 'Incomplete' 'Completed' 'Cancelled by Driver'
 'Cancelled by Customer']

In [76]:
# Check data types and missing values
print("Data Info:")
df.info()

print("\nSummary Statistics:")
print(df.describe(include='all'))

print("\nNull Values per Column:")
print(df.isnull().sum())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

Summary Statistics:
              Date      Time    Booking ID Booking Status   Customer ID  \
count       150000    150000        150000         150000        150000
unique         365     62910        148767              5        148788
top     2024-11-16  17:44:57  "CNR7908610"      Completed  "CID4523979"
freq           462        16             3          93000             3
mean           NaN       NaN           NaN            NaN           NaN
std            NaN       NaN           NaN            NaN           NaN
min            NaN       NaN           NaN            NaN           NaN
25%            NaN       NaN           NaN            NaN           NaN
50%            NaN       NaN           NaN            NaN           NaN
75%            NaN       NaN           NaN            NaN           NaN
max            NaN       NaN           NaN            NaN           NaN

       Vehicle Type Pickup Location Drop Location       Avg VTAT  \
count        150000          150000        150000  139500.000000
unique            7             176           176            NaN
top            Auto         Khandsa        Ashram            NaN
freq          37419             949           936            NaN
mean            NaN             NaN           NaN       8.456352
std             NaN             NaN           NaN       3.773564
min             NaN             NaN           NaN       2.000000
25%             NaN             NaN           NaN       5.300000
50%             NaN             NaN           NaN       8.300000
75%             NaN             NaN           NaN      11.300000
max             NaN             NaN           NaN      20.000000

             Avg CTAT  ...  Reason for cancelling by Customer  \
count   102000.000000  ...                              10500
unique            NaN  ...                                  5
top               NaN  ...                      Wrong Address
freq              NaN  ...                               2362
mean        29.149636  ...                                NaN
std          8.902577  ...                                NaN
min         10.000000  ...                                NaN
25%         21.600000  ...                                NaN
50%         28.800000  ...                                NaN
75%         36.800000  ...                                NaN
max         45.000000  ...                                NaN

       Cancelled Rides by Driver  Driver Cancellation Reason Incomplete Rides  \
count                    27000.0                       27000           9000.0
unique                       NaN                           4              NaN
top                          NaN      Customer related issue              NaN
freq                         NaN                        6837              NaN
mean                         1.0                         NaN              1.0
std                          0.0                         NaN              0.0
min                          1.0                         NaN              1.0
25%                          1.0                         NaN              1.0
50%                          1.0                         NaN              1.0
75%                          1.0                         NaN              1.0
max                          1.0                         NaN              1.0

        Incomplete Rides Reason  Booking Value  Ride Distance  Driver Ratings  \
count                      9000  102000.000000  102000.000000    93000.000000
unique                        3            NaN            NaN             NaN
top             Customer Demand            NaN            NaN             NaN
freq                       3040            NaN            NaN             NaN
mean                        NaN     508.295912      24.637012        4.230992
std                         NaN     395.805774      14.002138        0.436871
min                         NaN      50.000000       1.000000        3.000000
25%                         NaN     234.000000      12.460000        4.100000
50%                         NaN     414.000000      23.720000        4.300000
75%                         NaN     689.000000      36.820000        4.600000
max                         NaN    4277.000000      50.000000        5.000000

        Customer Rating  Payment Method
count      93000.000000          102000
unique              NaN               5
top                 NaN             UPI
freq                NaN           45909
mean           4.404584             NaN
std            0.437819             NaN
min            3.000000             NaN
25%            4.200000             NaN
50%            4.500000             NaN
75%            4.800000             NaN
max            5.000000             NaN

[11 rows x 21 columns]

Null Values per Column:
Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

# Combine Date + Time

In [78]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
df["Time"] = pd.to_datetime(df["Time"], format="%H:%M:%S", errors="coerce").dt.time
df["DateTime"] = pd.to_datetime(
    df["Date"].astype(str) + " " + df["Time"].astype(str),
    errors="coerce"
)
df[["Date", "Time", "DateTime"]].head()

        Date      Time            DateTime
0 2024-03-23  12:29:38 2024-03-23 12:29:38
1 2024-11-29  18:01:39 2024-11-29 18:01:39
2 2024-08-23  08:56:10 2024-08-23 08:56:10
3 2024-10-21  17:17:25 2024-10-21 17:17:25
4 2024-09-16  22:08:00 2024-09-16 22:08:00

# Clean Columns

In [80]:
rename_map = {
    "Booking ID": "booking_id",
    "Booking Status": "booking_status",
    "Customer ID": "customer_id",
    "Vehicle Type": "vehicle_type",
    "Pickup Location": "pickup_location",
    "Drop Location": "drop_location",
    "Avg VTAT": "avg_vtat",
    "Avg CTAT": "avg_ctat",
    "Cancelled Rides by Customer": "cancelled_by_customer",
    "Reason for cancelling by Customer": "cancel_reason_customer",
    "Cancelled Rides by Driver": "cancelled_by_driver",     
    "Driver Cancellation Reason": "cancel_reason_driver",    
    "Incomplete Rides": "incomplete_rides",
    "Incomplete Rides Reason": "incomplete_rides_reason",
    "Booking Value": "booking_value",
    "Ride Distance": "ride_distance",
    "Driver Ratings": "driver_rating",
    "Customer Rating": "customer_rating",
    "Payment Method": "payment_method",
}
df = df.rename(columns=rename_map)

num_cols = ["avg_vtat", "avg_ctat", "cancelled_by_customer", "cancelled_by_driver", "incomplete_rides", "booking_value", "ride_distance", "driver_rating", "customer_rating"]
for c in num_cols:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors="coerce")

# Feature Engineering

In [82]:
df["date"] = df["DateTime"].dt.date
df["year"] = df["DateTime"].dt.year
df["month"] = df["DateTime"].dt.to_period("M").astype(str)
df["weekday"]   = df["DateTime"].dt.day_name()

df["is_completed"] = (df["booking_status"] == "Completed").astype("int8")
df["is_incompleted"] = (df["booking_status"] == "Incomplete").astype("int8")
df["is_cancel_driver"] = (df["booking_status"] == "Cancelled by Driver").astype("int8")
df["is_cancel_customer"] = (df["booking_status"] == "Cancelled by Customer").astype("int8")
df["is_no_driver"] = (df["booking_status"] == "No Driver Found").astype("int8")
df["is_weekend"]= df["weekday"].isin(["Saturday", "Sunday"]).astype("int8")


def bucket_rating(x):
    if pd.isna(x): return "Missing"
    if x >= 4.5:   return "Excellent"
    if x >= 4.0:   return "Good"
    if x >= 3.0:   return "Average"
    return "Poor"

for c in ["driver_rating", "customer_rating"]:
    df[c + "_bucket"] = df[c].map(bucket_rating)
df

,Date,Time,booking_id,booking_status,customer_id,vehicle_type,pickup_location,drop_location,avg_vtat,avg_ctat,...,month,weekday,is_completed,is_incompleted,is_cancel_driver,is_cancel_customer,is_no_driver,is_weekend,driver_rating_bucket,customer_rating_bucket
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,2024-03,Saturday,0,0,0,0,1,1,Missing,Missing
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,2024-11,Friday,0,1,0,0,0,0,Missing,Missing
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,2024-08,Friday,1,0,0,0,0,0,Excellent,Excellent
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,2024-10,Monday,1,0,0,0,0,0,Excellent,Excellent
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,2024-09,Monday,1,0,0,0,0,0,Good,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,2024-11,Monday,1,0,0,0,0,0,Average,Good
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,2024-11,Sunday,1,0,0,0,0,1,Excellent,Excellent
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,2024-09,Wednesday,1,0,0,0,0,0,Average,Good
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,2024-10,Saturday,1,0,0,0,0,1,Good,Average
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,2024-03,Sunday,1,0,0,0,0,1,Excellent,Excellent

# Export Dataset

In [84]:
from pathlib import Path
out_dir = Path.cwd() / "data_clean"
out_dir.mkdir(exist_ok=True)

# Fact-like table (what BI will use)
df.to_csv(out_dir / "bookings_clean.csv", index=False)

# A small Date dimension (for slicers/relationships)
date_min = df["date"].min()
date_max = df["date"].max()
date_dim = pd.DataFrame({"date": pd.date_range(date_min, date_max, freq="D")})
date_dim["Year"] = date_dim["date"].dt.year
date_dim["Month"] = date_dim["date"].dt.month
date_dim["MonthName"] = date_dim["date"].dt.strftime("%b")
date_dim["YearMonth"] = date_dim["date"].dt.to_period("M").astype(str)
date_dim.to_csv(out_dir / "dim_date.csv", index=False)

print("Exported:", (out_dir / "bookings_clean.csv").resolve())
print("Exported:", (out_dir / "dim_date.csv").resolve())

Exported: /Users/jinyan/data_clean/bookings_clean.csv
Exported: /Users/jinyan/data_clean/dim_date.csv